/*Quitar el subrayado a los href*/
a:link, a:visited, a:active {
  text-decoration: none;
}

div.shad
{
  box-shadow: 10px 10px 5px gray;
}
.bg-3{
  background-color: black;
  color: white;
}

.thumbnail img{
  transition: transform .2s;
  margin: 0 auto;
}
.thumbnail img:hover {
transform: scale(.95);
}
.btn-black{background-color:#000;color: #FFF;}
.btn-black:hover{color: #FFF;}

.navbar-brand{
  width: 60px;

}
.navbar-brand img{
  width: 100%;
}
.navbar{
  background-color: black;
}
li .active a:focus{
  background-color: blue;
}